<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cake.Powershell" version="1.0.1" targetFramework="net472" />
  <package id="Microsoft.Data.SqlClient" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Data.SqlClient.SNI" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Identity.Client" version="4.14.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.6.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="5.6.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols" version="5.6.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="5.6.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.6.0" targetFramework="net472" />
  <package id="Microsoft.Management.Infrastructure" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.PowerShell.5.ReferenceAssemblies" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Assessment" version="1.0.280" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Assessment.Authoring" version="1.0.280" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Management.SqlParser" version="160.21099.39" targetFramework="net472" />
  <package id="Microsoft.SqlServer.SqlManagementObjects" version="150.18208.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.6.0" targetFramework="net472" />
</packages>