################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SQLWATCHDB/obj/Debug
/SQLWATCHDB/.vs/SQLWATCHDB/v15
/.vs
*.pdb
/SQLWATCHDB/bin/Debug
*.dbmdl
*.jfm
/SQLWATCHSSIS/obj/Development
/SQLWATCHSSIS/import.dtsx
/SQLWATCHDB/.vs/SQLWATCHDB/v16
SQLWATCHSSIS/SQLWATCHSSIS.dtproj.user
/SQLWATCHDB/bin/Release
/SQLWATCHDB/obj/Release
/Sqlwatch-importer/bin/Debug
/Sqlwatch-importer/bin/Release
/Sqlwatch-importer/obj/Debug
/Sqlwatch-importer/obj/Release
/SQLWATCHDB/packages/CommandLineParser.2.8.0
/SqlWatch.Monitor/.vs/SqlWatch.Monitor/v16
/SqlWatch.Monitor/Project.SqlDatabase/bin
/SqlWatch.Monitor/Project.SqlDatabase/obj
/SqlWatch.Monitor/Project.SqlDatabase/packages/CommandLineParser.2.8.0
/SqlWatch.Monitor/Project.SqlWatch.Database/bin/Debug
/SqlWatch.Monitor/Project.SqlWatch.Database/obj/Debug
/SqlWatch.Monitor/Project.SqlWatch.IntegrationServices/bin/Development
/SqlWatch.Monitor/Project.SqlWatchImport/bin/Debug
/SqlWatch.Monitor/Project.SqlWatchImport/bin/Release
/SqlWatch.Monitor/Project.SqlWatchImport/obj

# https://docs.microsoft.com/en-us/nuget/consume-packages/packages-and-source-control
# Ignore NuGet Packages
*.nupkg

# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*

# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/

# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config

# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Ignore other intermediate files that NuGet might create. project.lock.json is used in conjunction
# with project.json (NuGet v3); project.assets.json is used in conjunction with the PackageReference
# format (NuGet v4 and .NET Core).
project.lock.json
project.assets.json
/SqlWatch.Monitor/Project.SqlWatch.IntegrationServices/obj/Development
SqlWatch.Monitor/.vs/SqlWatch.Monitor/DesignTimeBuild/.dtbcache.v2
/SqlWatch.Monitor/UpgradeLog.htm
SqlWatch.Monitor/Project.SqlWatch.Database/obj/SQLWATCHDATABASE.generated.sql
/SqlWatch.Monitor/Project.SqlWatch.Database/bin/Release
/SqlWatch.Monitor/Project.SqlWatch.Database/obj/Release
/SqlWatch.Monitor/Project.SqlWatch.Database-Tester/bin/Debug
/SqlWatch.Monitor/Project.SqlWatch.Database-Tester/obj/Debug
/RELEASE/SQLWATCH Latest
/SqlWatch.Monitor/Project.SqlWatch.Database-Tester/obj/Release
/SqlWatch.Test/Pester.Results
.DS_Store
/SqlWatch.Monitor/Project.SqlWatch.Database/obj/Any CPU/Release
