<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.diagnostics>
    <switches>
      <!-- TraceLevel Enum 
            Off     (0)	Output no tracing and debugging messages.
            Error   (1)	Output error-handling messages.
            Warning	(2)	Output warnings and error-handling messages.
            Info	  (3)	Output informational messages, warnings, and error-handling messages.
            Verbose	(4)	Output all debugging and tracing messages. -->
      <add name="GeneralTraceSwitch" value="Warning" />
    </switches>
  </system.diagnostics>
  <appSettings>
    <!-- Central repository connection details -->
    <add key="CentralRepositorySqlInstance" value="SQLWATCH-REPO-1" />
    <add key="CentralRepositorySqlDatabase" value="SQLWATCH" />

    <!-- Streaming data from the DataReader into BulkCopy will genearally be much faster
         and will use less memory but may use more CPU -->
    <add key="StreamData" value="false"/>
    
    <!-- Query Execution Timeout on the remote instance. Normally the data import
         should not take more than few seconds but if you decide to do a 
         full load, the default timeout may not be long enough -->
    <add key="DataCopyExecTimeout" value="300"/>
    
    <!-- It is recommended to use Windows Authentication.
         Even withouth an AD, you can create a new Windows Account and 
         SQL proxy, grant it access to the Central Repository database
         and Run SQL Agent CMD step as that proxy -->
    <add key="CentralRepositorySqlUser" value="" />
    
    <!-- Sql Password Encrypted with either Machine or User key-->
    <add key="CentralRepositorySqlSecret" value="" />

    <!-- You can split the import by [environment] 
         as in in [dbo].[sqlwatch_config_sql_instance] -->
    <add key="EnvironmentToProcess" value="ALL" />    

    <!-- Load type for logger tables. It is recommended to
         use delta load to improve performance. However, if you 
         are noticing gaps in the data, you may want to run a one-off
         full load to align central repository tables.
         Remember to switch it back to Delta when done.
         If you only want to full load single server, 
         You can temporarily change the environment to 
         something distinct and match that in the 
         EnvironmentToProcess parameter -->
    <add key="LoggerTablesFullLoad" value="false"/>

    <!-- Normally the snapshot header is delta loaded but in rare
         cases, it may get out of sync which may prevent loading 
         logger tables due to missing foreign keys. If that happens
         you can full load the snapshot header table.
         This is similar to LoggerTablesFullLoad but limited to the
         snapshot_header table only. If you set LoggerTablesFullLoad
         to true, this setting will be ommited -->
    <add key="SnapshotHeaderFullLoad" value="false" />

    <!-- When we're running full load, we also check for the date_last_seen
         and only pull records where the value is newer than in the repository.
         By Design, the date_last_seen is updated every time the respective logger runs and
         only applies to meta tables. For example, every 1 hour for tables, indexes etc. 
         This will improve performance if the importer runs more often that the logger.
         If you want to force a true full load, set this to false -->
    <add key="RespectDateLastSeen" value="true"/>

    <!-- Log file parameters -->
    <add key="LogFile" value="SqlWatchImport.log" />
    <!-- Max size of a single log file -->
    <add key="MaxLogSizeMB" value="10" />
    <!-- Max number of log files to keep -->
    <add key="MaxLogFiles" value="10" />
    <!-- Whether to output to log file or not. If set to false, 
         nothing will be output to the log file -->
    <add key="PrintToLogFile" value="true"/>
    
    <!-- The application will write messages to the Log defined in the Log config
         Optionally, you can enable writing to the Console. 
         If you're running it via SQL Agent job, the console output will appear
         in the agent job history which may be handy but not always desired due
         to the potential size of the log output -->
    <add key="PrintToConsole" value="true"/>
    
    <!-- You can control the number of threads here, 
         Normally .NET will do a good job managing threads
         based on the number of cores for CPU and IO bound workloads. 
         However, in this case, the application is passing data from one SQL server
         to another with very minimum procesing and thus minimal CPU and IO usage.
         We may find that incrasing number of threads may improve performance.
         If you do, watch the CPU and Memory usage. 
         Set 0 for automatic management -->
    <add key="MinThreads" value="0" />
    <add key="MaxThreads" value="0" />

    <!-- Similar to the number of threads, this controls
         The number of concurrenct connection.
         Set 0 for automatic management. -->
    <add key="MinPoolSize" value="0" />

    <!-- Normally the Connection Pool is limited to 100
         concurrent connections. This will probably be enough
         for the standard number of threads, however, if you
         do increase the number of threads or the number of connection
         you may also have to increase the number of available connections -->    
    <add key="MaxPoolSize" value="0" />
        
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <!--  It is adivable to use Windows Authentication. 
          However, if you really want to use SQL authentication there are some
          important things to remember.
          
          The credentials will be stored in the SQLWATCH database, in 
          the [dbo].[sqlwatch_config_sql_instance] table.
          
          The password will be encryted using the Windows Machine Key, 
          or a key specified below.
          
          If you encrypt using the Machine key the application will only
          work on the machine where the encrypion happened.
          
          If you encrypt using the custom Key, the application will work
          on any machine but the Key will have to be saved in this config file.
          
          I would suggest to use the Machine key if you really have to. 
          Note that anyone with access to the Machine can technially get the Machine key
          and if they also have access to the SQLWATCH databae, they may be able to decrypt
          SQL passwords stored in the table. If you are going down this route, create a 
          SQL user that has READONLY access to the remote SQLWATCH databae and nothing else,
          so if someone decrypts the passwords, they are not going to gain access to anything
          on the remote Sql Instance.
          
          If you want to use custom Machine key, you MUST generate a new key,
          uncommited the machineKey section below and paste it there.
          You can generate ASP keys here https://www.allkeysgenerator.com/Random/ASP-Net-MachineKey-Generator.aspx 
          
          If you change the key after you have encrypted passwords, 
          or if you use Machine key and want to run it on a different machine,  
          you are going to have to recreate the user secret i.e. save a new, encrypted password. 
          You do not have to change the Sql Password, just re-save it using the new encryption keys.
          
          You can do so by running: 
          SqlWatchImport.exe -\-update -s SQLSERVER1 -u SQLUSER -p PASSWORD
          -->  
    <!--
    <machineKey
     validationKey=""
     decryptionKey=""
     validation="SHA1"
     decryption="AES"/> 
     -->
    
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>